NEXT_PUBLIC_DOMAIN=evemetro.com
NEXT_PUBLIC_EVE_SSO_AUTH_HOST=https://login.eveonline.com
NEXT_PUBLIC_EVE_IMAGES_API_HOST=https://images.evetech.net
NEXT_PUBLIC_EVE_ESI_HOST=https://esi.evetech.net/latest

# EVE Developer portal credentials
NEXT_PUBLIC_EVE_SSO_ID=
EVE_SSO_SECRET=

# Character ID that will get EVEMails in development
NEXT_PUBLIC_EVE_MAIL_TEST_CHARACTER_ID=

# Block EVEMail spam in development
ENVIRONMENT=development

# Might want to change for local dev
SDE_PATH=/var/lib/sde

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#pgadmin if using docker-compose
POSTGRES_HOST= 
EVE_METRO_DATABASE=evemetro

#Some random string to encrypt eve sso session in a cookie
COOKIE_CRYPT_KEY= 

#List of character_ids that can access evemetro admin tools
ADMIN_CHARACTER_IDS=[]

EVE_SCOUT_API_URL=https://api.eve-scout.com/v2/public/signatures
