NEXT_PUBLIC_DOMAIN=evemetro.com
NEXT_PUBLIC_EVE_SSO_AUTH_HOST=https://login.eveonline.com
NEXT_PUBLIC_EVE_IMAGES_API_HOST=https://images.evetech.net
NEXT_PUBLIC_EVE_ESI_HOST=https://esi.evetech.net/latest
NEXT_PUBLIC_EVE_SSO_ID=
EVE_SSO_SECRET=
ENVIRONMENT=development
SDE_PATH=./sde
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST= 
EVE_METRO_DATABASE=evemetro
COOKIE_CRYPT_KEY= 
ADMIN_CHARACTER_IDS=[]
EVE_SCOUT_API_URL=https://api.eve-scout.com/v2/public/signatures
